@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);@font-face {
  font-family: OverwatchFont;
  src: url(/fonts/big_noodle_titling_oblique.ttf?52629e481c4d4df7a9783ed08bdecdef);
}

.skew {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

#no-scroll::-webkit-scrollbar {
  width: 0px;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#appRouter {
  width: 100%;
  height: 100vh;
  z-index: 8888;
}

#navRouter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-default {
  background-color: rgba(66, 64, 65, 0.8);
  -webkit-box-shadow: 0 3px 10px 0px black;
          box-shadow: 0 3px 10px 0px black;
}

.navbar {
  border-radius: 0;
  border: none;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar-nav li a {
  color: white !important;
  opacity: .6;
  font-family: OverwatchFont;
  font-size: 1.6em;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.navbar-nav li a:hover {
  opacity: 1;
}

.navbar-form input:focus {
  -webkit-box-shadow: 0 0 5px #f99e1a;
          box-shadow: 0 0 5px #f99e1a;
  border: 1px solid #f99e1a;
}

.navbar-nav li a {
  outline-color: #f99e1a !important;
}

.popover {
  background-color: #000000 !important;
  color: #f99e1a !important;
  width: 110px !important;
  font-size: 12px !important;
  text-align: center !important;
}

.popover-content {
  margin: 0px !important;
  padding: 2px 0px 2px 0px !important;
}

.popover .arrow:after {
  border-bottom-color: #000000 !important;
}

.search {
  position: relative;
}

.search .search-suggestions {
  padding: 0 10px;
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  width: 100%;
}

.search .search-suggestions .search-suggestion {
  background: rgba(66, 64, 65, 0.8);
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: white !important;
  cursor: pointer;
  position: relative;
}

.search .search-suggestions .search-suggestion:not(:last-child) {
  border-bottom: 1px solid black;
}

.search .search-suggestions .search-suggestion img {
  height: 100%;
  margin-right: 10px;
  border-radius: 100%;
}

.search .search-suggestions .search-suggestion i {
  font-size: 2em;
  margin-right: 15px;
  margin-left: 10px;
}

.search .search-suggestions .search-suggestion h2 {
  margin: 0;
}

.search .search-suggestions .search-suggestion:hover {
  background: #7F8286;
}

.search .search-suggestions .search-suggestion:hover:first-child:after {
  border-bottom-color: #7F8286;
}

.search .search-suggestions .search-suggestion:first-child:after {
  content: '';
  display: block;
  position: absolute;
  right: 83%;
  bottom: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid rgba(66, 64, 65, 0.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.search .search-suggestions .search-suggestion:last-child {
  border-radius: 0 0 5px 5px;
}

.search .search-suggestions .active {
  background: #595e61;
}

.search .search-suggestions .active:first-child:after {
  border-bottom-color: #595e61;
}

