@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);@font-face {
  font-family: OverwatchFont;
  src: url(/fonts/big_noodle_titling_oblique.ttf?52629e481c4d4df7a9783ed08bdecdef);
}

.skew {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#appRouter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8888;
}

#navRouter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#blur-top-left {
  position: absolute;
  top: 1;
  left: 0;
  width: 350px;
  height: 350px;
  background-color: rgba(249, 158, 26, 0.25);
  -webkit-box-shadow: 4px 10px 1000px 300px rgba(249, 158, 26, 0.25);
          box-shadow: 4px 10px 1000px 300px rgba(249, 158, 26, 0.25);
  border-radius: 100px;
  z-index: -1;
}

#blur-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: 350px;
  background-color: rgba(249, 158, 26, 0.25);
  -webkit-box-shadow: 4px 10px 1000px 300px rgba(249, 158, 26, 0.25);
          box-shadow: 4px 10px 1000px 300px rgba(249, 158, 26, 0.25);
  border-radius: 100px;
  z-index: -1;
}

.navbar-default {
  background-color: rgba(66, 64, 65, 0.8);
  -webkit-box-shadow: 0 3px 10px 0px black;
          box-shadow: 0 3px 10px 0px black;
}

.navbar {
  border-radius: 0;
  border: none;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  height: 100%;
  width: auto;
}

.navbar-nav li a {
  color: white !important;
  opacity: .6;
  font-family: OverwatchFont;
  font-size: 1.6em;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}

.navbar-nav li a:hover {
  opacity: 1;
}

.navbar-form input:focus {
  -webkit-box-shadow: 0 0 5px #f99e1a;
          box-shadow: 0 0 5px #f99e1a;
  border: 1px solid #f99e1a;
}

.navbar-nav li a {
  outline-color: #f99e1a !important;
}

.popover {
  background-color: #000000 !important;
  color: #f99e1a !important;
  width: 110px !important;
  font-size: 12px !important;
  text-align: center !important;
}

.popover-content {
  margin: 0px !important;
  padding: 2px 0px 2px 0px !important;
}

.popover .arrow:after {
  border-bottom-color: #000000 !important;
}

header {
  width: 100%;
  height: 85vh;
  position: relative;
  border-bottom: 10px solid white;
}

header .video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1111;
}

header .video-wrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header:hover .header-bottom {
  opacity: 1;
  background: #f99e1a;
}

header .header-bottom {
  -webkit-transition: all .6s;
  transition: all .6s;
  background: rgba(249, 158, 26, 0.8);
  opacity: .2;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 100px;
  z-index: 8888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-bottom .hero-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header-bottom .hero-information img {
  height: 80%;
  width: auto;
  border-radius: 100%;
  margin-right: 15px;
}

header .header-bottom .hero-information h1 {
  font-family: OverwatchFont;
  color: white;
  text-shadow: 1px;
}

header .header-bottom .hero-abilities {
  z-index: 8888;
}

header .header-bottom .hero-abilities ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-bottom .hero-abilities ul li {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  position: relative;
  display: block;
  border-radius: 100%;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: background .6s;
  transition: background .6s;
  cursor: pointer;
}

header .header-bottom .hero-abilities ul li img {
  max-width: 90%;
  max-height: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3px;
}

header .header-bottom .hero-abilities ul li:hover {
  background: black;
}

main {
  width: 100%;
  height: 500px;
  background: #7f8286;
}

main .top-players {
  margin-top: 30px;
}

main .top-players .top-players-title {
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
  background: white;
  border-radius: 4px;
}

main .top-players .top-players-title h1 {
  font-family: OverwatchFont;
  padding: 15px 25px;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
  margin: 0;
}

main .top-players ul {
  margin-top: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main .top-players ul li {
  margin-top: 5px;
  -webkit-transform: skew(-15deg);
          transform: skew(-15deg);
}

main .top-players ul li .top-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 25px;
  border-radius: 4px;
  position: relative;
}

main .top-players ul li .top-player .top-player-bg {
  height: 100%;
  background: orange;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

main .top-players ul li .top-player .player-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

main .top-players ul li .top-player .player-info .player-info-extra {
  font-size: 1.6em;
  font-family: OverwatchFont;
}

main .top-players ul li .top-player .player-stats {
  width: 50%;
  text-align: right;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.search {
  position: relative;
}

.search .search-suggestions {
  padding: 0 10px;
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  width: 100%;
}

.search .search-suggestions .search-suggestion {
  background: rgba(66, 64, 65, 0.8);
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: white !important;
  cursor: pointer;
  position: relative;
}

.search .search-suggestions .search-suggestion:not(:last-child) {
  border-bottom: 1px solid black;
}

.search .search-suggestions .search-suggestion img {
  height: 100%;
  margin-right: 10px;
  border-radius: 100%;
}

.search .search-suggestions .search-suggestion i {
  font-size: 2em;
  margin-right: 15px;
  margin-left: 10px;
}

.search .search-suggestions .search-suggestion h2 {
  margin: 0;
}

.search .search-suggestions .search-suggestion:hover {
  background: #7F8286;
}

.search .search-suggestions .search-suggestion:hover:first-child:after {
  border-bottom-color: #7F8286;
}

.search .search-suggestions .search-suggestion:first-child:after {
  content: '';
  display: block;
  position: absolute;
  right: 83%;
  bottom: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid rgba(66, 64, 65, 0.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.search .search-suggestions .search-suggestion:last-child {
  border-radius: 0 0 5px 5px;
}

.search .search-suggestions .active {
  background: #595e61;
}

.search .search-suggestions .active:first-child:after {
  border-bottom-color: #595e61;
}

