@import "~compass-mixins";

@font-face {
    font-family: OverwatchFont;
    src: url("../fonts/big_noodle_titling_oblique.ttf");
}

$navColor  : rgba(66,64,65,0.8);
$navBlackShadow : #000000; 
$orange : #f99e1a;

.navbar-default {
    background-color: $navColor !important;
    box-shadow: 10px 11px 10px -10px $navBlackShadow;
}

.navbar {
    border-radius: 0 !important;
    border: none !important;
}

.navbar-nav li a {
    color: white !important;
    opacity: 0.6;
    font-family: OverwatchFont;
    font-size: 24px;
}

.navbar-form {
    margin-right: 145px !important;
    margin-top: 10px !important;
    border-top: none !important;
    border-bottom: none !important;
}

.form-group {
    height: 28px !important;
    width: 120% !important;
}

.form-control {
    padding: 14px 15px !important;
    border-radius: 6px !important;
    height: inherit !important;
    width: 100% !important;
}

.form-control-feedback { 
    margin-top: -1px !important;
}

.navbar-brand {
    padding: 0px 0px 0px 145px !important;
    margin-top: -27px;
    @media screen and (max-width: 970px){
        padding: 0px 0px 0px 140px !important;
    }
    @media screen and (max-width: 965px){
        padding: 0px 0px 0px 130px !important;
    }
    @media screen and (max-width: 956px){
        padding: 0px 0px 0px 120px !important;
    }
    @media screen and (max-width: 946px){
        padding: 0px 0px 0px 110px !important;
    }
    @media screen and (max-width: 936px){
        padding: 0px 0px 0px 100px !important;
    }
    @media screen and (max-width: 926px){
        padding: 0px 0px 0px 90px !important;
    }
    @media screen and (max-width: 916px){
        padding: 0px 0px 0px 80px !important;
    }
    @media screen and (max-width: 906px){
        padding: 0px 0px 0px 70px !important;
    }
    @media screen and (max-width: 900px){
        padding: 0px 0px 0px 60px !important;
    }
    @media screen and (max-width: 886px){
        padding: 0px 0px 0px 50px !important;
    }
    @media screen and (max-width: 876px){
        padding: 0px 0px 0px 40px !important;
    }
    @media screen and (max-width: 866px){
        padding: 0px 0px 0px 30px !important;
    }
    @media screen and (max-width: 856px){
        padding: 0px 0px 0px 20px !important;
    }
    @media screen and (max-width: 846px){
        padding: 0px 0px 0px 10px !important;
    }
    @media screen and (max-width: 846px){
        padding: 0px 0px 0px 0px !important;
    }
}

.navbar-brand img {
    opacity: 1 !important;
    height: 100px !important; 
    width: 250px !important;
    @media screen and (max-width: 846px){
        opacity: 1 !important;
        height: 100px !important; 
        width: 200px !important;
    }
    @media screen and (max-width: 836px){
        opacity: 1 !important;
        height: 100px !important; 
        width: 190px !important;
    }
}

.popover {
    background-color: $navBlackShadow !important;
    color: $orange !important;
    width: 110px !important;
    font-size: 12px !important;
    text-align: center !important;
}

.popover-content {
    margin: 0px !important;
    padding: 2px 0px 2px 0px !important;
}

.popover .arrow:after {
    border-bottom-color: $navBlackShadow !important;    
}