// Primary Colors
$primary:   #43484c
$secondary: #f99e1a

// Sub Colors
$light:     #595e61
$lightest:  #7F8286  

// Text Color
$primary-text:      white
$secondary-text:    black

// Navigation
$navColor:  rgba(66,64,65,0.8)