@import "../vars.sass"

#appRouter
    // background: url("../../img/Wallpapers/roadhog-screenshot-003.jpg") no-repeat center center fixed 
    // -webkit-background-size: cover
    // -moz-background-size: cover
    // -o-background-size: cover
    // background-size: cover

    font-size: 16px

ul
    display: inline-block
    *display: inline
    zoom: 1
    list-style: none

.index
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

    img
        height: auto
        width: 100px

    h3
        margin: 0
        margin-top: 10px
        margin-bottom: 25px
        color: white
        text-shadow: 0 0 4px black

    form
        width: 80%
        margin: 0 auto


// Styling voor video
    .video-container
        position: absolute
        top: 0
        bottom: 0
        width: 100%
        height: 100%
        overflow: 
        
        video
            min-width: 100%
            min-height: 100%

// Styling voor player search
.playerSearch-wrapper-focus
    box-shadow: 0 0 5px $secondary !important
    border: 1px solid $secondary !important
    transition: border 5ms linear, box-shadow 5ms linear
        
.playerSearch-wrapper
    width: 100%
    background-color: #ffffff
    border: 1px solid #ccc  
    border-radius: 4px  

    .searchPlayer
        width: auto
        border: none
        
    #searchIcon-wrapper
        height: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0

        display: flex
        justify-content: center
        align-items: center

        .searchPlayer-icon
            width: auto
            margin-right: 10px
    
    .search-suggestions
        position: absolute
        display: block
        width: 100%
        height: auto
        margin-top: 15px   
        padding: 0px

        li
            background: $navColor
            padding:
                top: 10px
                bottom: 10px
                left: 0px
                right: 0px

            color: $primary-text !important
            cursor: pointer
            position: relative

            &:not(:last-child)
                border-bottom: 1px solid black
            
            &:hover 
                background: $lightest
            
                &:nth-child(2), &:first-child
                    &:after
                        border-bottom-color: $lightest
        
            &:nth-child(2), &:first-child
                &:after
                    content: ''
                    display: block
                    position: absolute
                    right: 91%
                    bottom: 100%
                    border-top: 10px solid transparent
                    border-bottom: 10px solid $navColor
                    border-left: 10px solid transparent
                    border-right: 10px solid transparent
                
            &:last-child
                border-radius: 0 0 5px 5px
        
        .active
            background: $light
            
            &:nth-child(2)
                &:after
                    border-bottom-color: $light

    .regionPlatform-button  
        width: auto
        height: 25px
        border-radius: 3px
        cursor: pointer
        pointer-events: initial !important
        line-height: 27px
        background-color: $secondary
        font-size: 14px
        font-weight: 600
        padding: 0px 10px
        margin-right: 10px

    .regionPlatform-control
        display: none
        position: absolute
        top: calc(50% + 30px)
        width: 60%
        background-color: white
        right: -15%
        font-weight: 600    
        background-color: $regionPlatform-color

        &:after
            content: ''
            display: block
            position: absolute
            left: 51%
            transform: translateX(-51%)
            bottom: 100%
            border-top: 10px solid transparent
            border-bottom: 10px solid $regionPlatform-color
            border-left: 10px solid transparent
            border-right: 10px solid transparent

        .region-list 
            float: left
            padding-left: 15px
            
            li
                padding-bottom: 7px

            li:first-child
                padding-top: 8px

            li:last-child
                padding-bottom: 0px

        .vertical-hr-wrapper
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: 51%
            height: 80%
            z-index: -9999
            margin: auto

            .vertical-hr
                display: block
                width: 1px
                height: 100%
                background: white
                
        .platform-list 
            float: right
            padding-left: 30px

            li
                padding-bottom: 7px
            
            li:first-child
                padding-top: 8px

            li:last-child
                padding-bottom: 0px

    .list-button

        .regionPlatform-button
            width: 60px !important

        span
            display: block

    #search-form-input 
        box-shadow: 0 0 5px rgba(255,255,255,0)
        border: 1px solid rgba(255,255,255,0)