#appRouter
    // background: url("../../img/Wallpapers/roadhog-screenshot-003.jpg") no-repeat center center fixed 
    // background-size: cover
    font-size: 16px

body
    overflow: hidden !important    

.index
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center

    img
        height: auto
        width: 100px

    h3
        margin: 0
        margin-top: 10px
        margin-bottom: 25px
        color: white
        text-shadow: 0 0 4px black

    form
        width: 80%
        margin: 0 auto